:root {
	--black: #333;
	--red: #ef4444;
	--blue: #4488ef;
	--dark-gray: #8f8f8f;
	--light-gray: #e4e4e7;
}

html {
	color: var(--black);
}

body {
	line-height: normal;
	margin: 0;
}

.flex {
	display: flex;
}

.flex-col {
	display: flex;
	flex-direction: column;
}
